h1 {
  color: blue;
}

body {
  background-image: url("https://static1.squarespace.com/static/52321d96e4b00cea29884a12/524f5e9be4b00c64c3cfcc23/525080c1e4b0c1ff60b85584/1431999083807/DTC.jpg?format=1000w");
  background-repeat: no-repeat;
  background-size:cover;
}
