<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body{
      width:1000px;
      position: relative;
      margin: auto;
      text-align: center;
    }
    .ring{
      display:inline-block;
      width:263px;
      height:263px;
      background-size: contain;
    }
    .image{
      display: inline-block;
      margin: auto;
    }
    .box{
      margin: auto;
    }
    </style>
  </head>
  <body>
    <div class="box">
    <% @rings.each do |ring| %>
    <div class="image">
    <%=link_to image_tag(ring.img_url, class:"ring"), ring_path(ring)%>
  </div>
    <!-- <%= link_to ring.shape, ring_path(ring) %> -->
    <%end%>
  </div>
  <div class="back"> <%=link_to"Back", retailers_path%></div>

  </body>
</html>
